@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.returnHome::before {
    content: url(../public/icones/ClarityHomeLine.svg);
}

img {
    width: 500px;
    height: auto;
}

.returnDogs::before {
    content: url(../public/icones/MdiDogSide.svg);
}

.returnCats::before {
    content: url(../public/icones/FluentEmojiHighContrastBlackCat.svg);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: grid;
    place-content: center;
}

.header_menuBtn {
    position: relative;
    z-index: 10;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

dt {
    cursor: pointer;
}